/vendor/

# Директория для зависимостей, игнорируем vendor/
vendor/

# Системные файлы IDE
.idea/
.vscode/

# Логи
*.log

# Временные файлы
*.tmp
*.swp

# Файлы кэша и другие временные файлы
.cache/
*.bak

# .env файл с токенами и конфиденциальной информацией
.env
.env.*
!.env.example


# Собранные файлы Vite (например, при сборке проекта для продакшн)
dist/
public/build/

# Файлы конфигурации IDE
*.sublime-workspace
*.sublime-project

# Системные файлы macOS
.DS_Store
**/.DS_Store
