{
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": false,
    "printWidth": 80,
    "bracketSpacing": true,
    "htmlWhitespaceSensitivity": "css",
    "bracketSameLine": false,
    "endOfLine": "lf"
} 