@use "/src/sass/base/variables.scss" as *;
@use "/src/sass/base/mixins.scss" as *;

.gallery {
    margin-top: 200px;
    @include breakpoint(mobile-lg) {
        margin-top: 100px;
    }
    @include breakpoint(mobile) {
        margin-top: 70px;
    }
    &__swiper {
        margin-top: 100px;
        @include breakpoint(mobile-lg) {
            margin-top: 50px;
        }
        @include breakpoint(mobile) {
            margin-top: 25px;
        }
    }
    .swiper-button-prev,
    .swiper-button-next {
        color: $graphite-dark;
        font-size: 1px;
        background-color: $light;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        -webkit-tap-highlight-color: transparent;
        outline: none;
    }

    &__slide {
        width: 100%;
        height: 400px;
        padding-bottom: 45px;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: $my-border-radius;
    }
    @include breakpoint(mobile-lg) {
        .swiper-button-prev {
            display: none;
        }
        .swiper-button-next {
            display: none;
        }
    }
    .swiper-pagination {
        bottom: 0;
    }
    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        background-color: $light;
        opacity: 1;
        -webkit-tap-highlight-color: transparent;
    }
    .swiper-pagination-bullet-active {
        transform: scale(1.5);
        background-color: $light-hover-2;
    }

    @include not-hover-mobile {
        .button-prev,
        .button-next {
            cursor: pointer;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            transform: translateY(-100%);
            z-index: 10;
            box-shadow: 0 0 10px 0px $graphite;
            transition: box-shadow 0.3s linear;
            -webkit-tap-highlight-color: transparent;
            outline: none;
            &:hover {
                box-shadow: 0 0 10px 10px $graphite-dark;
            }
            g {
                fill: $light;
                transition: fill 0.3s linear;
                &:hover {
                    fill: $light-hover-2;
                }
                &:active {
                    fill: $light-hover;
                }
            }
        }
    }
    .button-prev {
        left: 10px;
    }
    .button-next {
        right: 10px;
    }
    @include breakpoint(mobile-lg) {
        .button-prev,
        .button-next {
            display: none;
            g {
                display: none;
            }
        }
    }
}

.lb-outerContainer {
    background-color: $graphite-dark;
}

// .lb-loader {
//     background: transparent !important;
//     border: none !important;
//     padding: 0 !important;
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

// /* Добавить кастомное изображение (например, ваш спиннер) */
// .lb-loader:before {
//     content: "";
//     display: block;
//     width: 50px; /* Размер кастомного спиннера */
//     height: 50px;
//     background: url("/src/icon/load.gif") no-repeat center center; /* Путь к вашему изображению */
//     background-size: contain;
// }
